.contanier{
    display: flex;
}

.my-5, .carousel-inner{
    padding: 10px;
}

.carousel-inner{
    margin-top: 1.5rem ;
}

.cs-50, .carousel-inner, .carousel, .carousel-item{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}