{% extends 'recipes/base.html' %}
    {% block content %}
        <h1>Recipes Home Page</h1>
        {% for recipe in recipes %}
          <div class="card my-4" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ recipe.title }}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{ recipe.author }} | {{ recipe.date_posted }}</h6>
              <p class="card-text">{{ recipe.directions }}</p>
              <a href="#" class="card-link">Edit Recipe</a>
              <a href="#" class="card-link">Delete Recipe</a>
            </div>
          </div>
        {% endfor %}
    {% endblock content %}
