{% extends 'recipes/base.html' %}

{% block content %} 

<div class="recipe-main">
    <div class="recipe-image">
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
    </div>
    <div class="recipe-data">
        <h1>{{ recipe.title }}</h1>
        <p>By <span class="recipe-auth">{{ recipe.author }}</span> | <span class="recipe-date">{{ recipe.created_at }}</span></p>
        <p class="recipe-desc">{{ recipe.description }}</p>
        {% if recipe.author == user %}
        <a href="{% url 'recipe-update' recipe.pk %}" class="rec-li edit-b">Update the Recipe</a>
        {% endif %}
    </div>
</div>

{% endblock content %} 



